/watertap3/watertap3/notebooks/.ipynb_checkpoints/
/watertap3/watertap3.egg-info/
/watertap3/watertap3/results/
/watertap3/watertap3/data/
/watertap3/watertap3/watertap3.egg-info/
/watertap3/docs/build/
/watertap3/watertap3/notebooks/
/watertap3/watertap3/.ipynb_checkpoints/
