# Created by https://www.toptal.com/developers/gitignore/api/python
# Edit at https://www.toptal.com/developers/gitignore?templates=python

# mac os
*.DS_Store

### Python ###
# Byte-compiled
*.pyc

# Jupyter Notebook
.ipynb_checkpoints